@charset "utf-8";

/* ---------------------------------------
 background
--------------------------------------- */
.container{
background:url('../img/bg-01.jpg') no-repeat;
}

/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{
background:url('../img/hdg-level1-01.png') no-repeat left top;
width:154px;
height:23px;
text-indent:-99999px;
}

/* ---------------------------------------
 section
--------------------------------------- */
section.type-01{
width:260px;
position:absolute;
left:190px;
top:120px;
}
.topics{
height:240px;
overflow:auto;
}
.topics time{
font-size:10px;
margin-right:5px;
}
.topics li{
margin-bottom:5px;
}


/* モニター幅960px以下 */
@media only screen and (max-width:960px){
}

/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
}

/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
}
