@charset "utf-8";

/* ---------------------------------------
 background
--------------------------------------- */
.container{
background:url('../img/bg-01.jpg') no-repeat;
}

/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{width:154px;height:23px;margin-bottom:15px;background:url(../img/hdg-level1-01.png) no-repeat left top;text-indent:-99999px;}
.hdg-level1-02{font-size: 12px;font-weight: bold;}

/* ---------------------------------------
 section
--------------------------------------- */
.type-01{position:absolute;left:40px;top:50px;width:885px;height:0px;}
.sec-inner{padding:0 0 0 23px;height:390px;border:solid 1px #bfbfbf;background-color:rgba(255, 255, 255, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff,endcolorstr=#7fffffff,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";zoom:1;}
.wardrobe-list li{float:left;margin:18px 18px 0 0;border:2px solid #afafaf;}

/*__________________________ clearfix __________________________*/
.wardrobe-list:after,
.sec-inner:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.wardrobe-list,
.sec-inner{display:block;min-height:1%;}
*:first-child+html .wardrobe-list,
*:first-child+html .sec-inner{display:inline-table;zoom:1;}
* html .wardrobe-list,
* html .sec-inner{zoom:1;}

/* モニター幅960px以下 */
@media only screen and (max-width:960px){
}

/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
}

/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
}
