@charset "utf-8";

/* ---------------------------------------
container
--------------------------------------- */
.container{
background:url('../img/bg-01.jpg') no-repeat;
}

/* ---------------------------------------
 nav
--------------------------------------- */
.top .gNav{
position:absolute;
background:none;
width:510px;
height:13px;
left:434px;
top:401px;
}
.top .gNav ul{
margin-left:0;
}


/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{
position:absolute;
background:url('../img/hdg-level1-01.gif') no-repeat left top;
width:230px;
height:53px;
left:529px;
top:271px;
text-indent:-99999px;
}

/* Phone Landscape (480px) */
@media only screen and (min-width:321px) and (max-width:480px) and (orientation:landscape){
}

/* Phone Portrait (320px) */
@media only screen and (max-width:320px) {
.hdg-level1-01{display:none;}
}
