@charset "utf-8";

/* ---------------------------------------
 background
--------------------------------------- */
.container{
background:url('../img/bg-01.jpg') no-repeat;
}

/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{
background:url(../img/hdg-level1-01.png) no-repeat left top;
width:154px;
height:23px;
margin-bottom:10px;
text-indent:-99999px;
}
.hdg-level1-02{
font-weight:bold;
}

/* ---------------------------------------
 article
--------------------------------------- */
.profile{
margin-bottom:10px;
line-height:1.4;
}
.profile .photo-01{
float:left;
margin-right:15px;
}
.profile .text-01{
background:url(../img/text-01.png);
float:left;
width:200px;
height:32px;
text-indent:-99999px;
}

/* ---------------------------------------
 section
--------------------------------------- */
.type-01{
width:380px;
height:480px;
position:absolute;
left:40px;
top:30px
}
.type-02{
line-height:1.5;
height:270px;
overflow:auto;
}
.type-03{
margin-bottom:6px;
}
.inline-ttl,
.type-03 p{display:inline-block;*display:inline;*zoom:1;}
.link-text{display:inline;padding-left:15px;}
