@charset "utf-8";

/* ---------------------------------------
 background
--------------------------------------- */
.container{background:url('../img/bg-01.jpg') no-repeat;}

/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{width:154px;height:23px;margin-bottom:15px;background:url(../img/hdg-level1-01.png) no-repeat left top;text-indent:-99999px;}

/* ---------------------------------------
 section
--------------------------------------- */
.type-01{width:885px;position:absolute;left:40px;top:30px}
.gallery-list li{float:left;margin:19px 19px 0 0;border:1px solid #afafaf;}

/*__________________________ tab __________________________*/
.tab-container-03{width:100%;}
.tab-container-03 .tab-btns{position:relative;}
.tab-container-03 .tab-btns li{margin-right:0;display:inline;float:left;width:141px;text-align:center;}
.tab-container-03 .tab-btns a{display:block;padding-top:10px;width:141px;height:29px;border-top-left-radius:10px;border-top-right-radius:10px;background:#c8c7c6;color:#444;text-decoration:none;font-size:14px;}
.tab-container-03 .tab-btns a:hover{background-color:rgba(255, 255, 255, 0.3);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff,endcolorstr=#7fffffff,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";zoom:1;}

.tab-container-03 .tab-btns .active a{background-color:rgba(255, 255, 255, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff,endcolorstr=#7fffffff,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";zoom:1;color:#9d2710;}

.tab-container-03 .tab-contents{padding:0 0 0 23px;height:390px;
background-color:rgba(255, 255, 255, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff,endcolorstr=#7fffffff,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";zoom:1;}
.tab-container-03.active .tab-contents{position:absolute;left:-9999px;top:0;}
.tab-container-03 .tab-contents.active{position:static;}

/*__________________________ colorbox __________________________*/
#cboxLoadedContent{margin-bottom:44px;}
#cboxTitle{position:absolute; bottom:3px; left:0%; text-align:left; width:100%; color:#999;font-size:11px;line-height:1.4;}

/*__________________________ clearfix __________________________*/
.tab-container-03 .tab-btns:after,
.gallery-list:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.tab-container-03 .tab-btns,
.gallery-list{display:block;min-height:1%;}
*:first-child+html .tab-container-03 .tab-btns,
*:first-child+html .gallery-list{display:inline-table;zoom:1;}
* html .tab-container-03 .tab-btns,
* html .gallery-list{zoom:1;}
