@charset "utf-8";

/* ---------------------------------------
 background
--------------------------------------- */
#container{
background:url('../img/bg-01.jpg') no-repeat;
}

/* ---------------------------------------
 title
--------------------------------------- */
.hdg-level1-01{
background:url('../img/hdg-level01-01.gif') no-repeat left top;
width: 230px;
height: 53px;
position: absolute;
left:529px;
top:271px;
text-indent:-99999px;
}

/* モニター幅960px以下 */
@media only screen and (max-width:960px){
}

/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
}

/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
}
