@charset "UTF-8";

/* ヘッダーバナータイトル */
.header-banner-ttl{display:table;width:100%;height:100%;margin:0;padding:0;font-size:25px;color:#fff;text-align:center;line-height:1.2;}
.header-banner-ttl span{display:table-cell;vertical-align:middle;}

/* 共通ページタイトル */
.single-article header,
.single-article header .single-title{border:none;}
.single-article header{margin:0;padding:0;background:#71cfb8;font-size:18px;color:#fff;text-align:left;}
.single-article header .single-title{margin:0;padding:10px;background:#71cfb8;font-size:18px;color:#fff;text-align:left;}

/* 見出し */
.ttl-type-01{}
.rcm-item-ttl{}

/* テーブル */
.tbl-type01{width:100%;margin:15px 0;border-collapse:collapse;font-size:14px;line-height:1.4;}
.tbl-type01 th{padding:6px;background-color:#eee;border:1px solid #b9b9b9;font-weight:normal;text-align:left;}
.tbl-type01 td{padding:6px;border:1px solid #b9b9b9;background-color:#fff;}
.font-size-l{font-size:20px;color:#f00;}
.font-size-s{font-size:12px;color:#f00;}
.font-color-red{color:#f00;}

/* カラム */
.col-wrap{position:relative;}
.col-type01{width:630px;margin:0;padding:0;}
.col-type02{width:470px;margin:0;padding:0;}
.col-type03{margin:10px 0; padding:10px;border:1px solid #ccc;background:#eaf8f5;}
.col-left{float:left;}
.col-right{float:right;}

/* 画像 */
.img-type01{float:right;width:300px;border:1px solid #ccc;}

/* 送信ボタン */
.entry input[type="submit"],
input#submit{background:#ffaf51 !important;}

/* TOPメイン */
.col3-wrap section{float:left;width:33%;margin:20px 0;}
.col3-wrap .sec-inner{position:relative;padding:0 10px 0 55px;}
.col3-wrap h1{margin:0 0 5px;padding:0;font-size:16px;font-weight:bold;}
.col3-wrap p{font-size:14px;color:#438bc5;line-height:1.4;text-decoration:underline;}
.col3-wrap section a:hover,
.col3-wrap section a:hover p{color:#ffaf51;text-decoration:none;}
.col3-wrap section a:hover figure{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;text-decoration:none;}
.col3-wrap figure{position:absolute;left:0;top:0;}
.col2-wrap section{float:left;width:50%;}
.col2-wrap h1{margin:0 0 5px;padding:0;font-size:16px;font-weight:bold;text-align:center;}
.col2-wrap p{font-size:14px;line-height:1.4;text-align:center;}
.col2-wrap .sec-inner{margin:0;padding:10px;}
.col2-wrap figure{margin:0 0 5px;padding:0;text-align:center;}

/* レイアウト調整 */
.entry,
.entry img{margin:0;padding:0;}
.entry ul{margin:0 0 0 20px;padding:0;}
.entry .rcm-list01{margin:0 0 10px 20px;padding:0;}
.content table{margin:0;padding:0;}
.content dl{margin:0 0 15px;padding:0;}
.entry p{padding:0 0 15px;}
#container{padding:15px 20px;}
.single_post_meta,
.comment-respond,
.trackback_url_area{display:none;}
#loop-section.magazine
.loop-article,
.single-article,
.dp_related_posts,
.content
.trackback_url_area,
#comment_section,
#respond,
#commentform,
.fb-like-box,
.widget-box,
.ft-widget-box,
#searchform{margin:0;border:none;}
nav.navigation{margin:0 auto;}
.wpcf7-form textarea{width:70%;}
