@charset "UTF-8";

/* ヘッダーバナータイトル */
.header-banner-ttl{width:700px;margin:330px auto 0;padding:0;font-size:30px;color:#fff;text-align:center;line-height:1.4;}

/* 共通ページタイトル */
.single-article header,
.single-article header .single-title{border:none;}
.single-article header .single-title{margin:0 0 30px;padding:10px;background:#390707;font-size:18px;color:#fff;text-align:left;}

/* 見出し */
.ttl-type-01{}
.rcm-item-ttl{}

/* テーブル */
.tbl-type01{width:100%;border-collapse:collapse;font-size:14px;line-height:1.2;}
.tbl-type01 th{width:35%;padding:6px;background-color:#eee;border:1px solid #b9b9b9;font-weight:normal;text-align:left;}
.tbl-type01 td{padding:6px;border:1px solid #b9b9b9;background-color:#fff;}
.font-size-l{font-size:20px;color:#f00;}
.font-color-red{color:#f00;}

/* 余白の調整 */
.entry ul,
.entry ol{margin:0;padding:0;}
