@charset "UTF-8";

/* ----------------------
* 共通
---------------------- */

/* フッター */
#ft-widget-content{padding:0 0 30px;}
#ft-widget-container{padding:0;}
#footer{padding:30px 0 0;}

/* ヘッダー */
.header_container{border-bottom-color:rgba(206, 206, 192, 0.3);}
.header-banner-ttl{display:table;width:100%;height:100%;margin:0;padding:0;font-size:25px;color:#fff;text-align:center;line-height:1.2;}
.header-banner-ttl span{display:table-cell;vertical-align:middle;}

/* テーブル */
.content .tbl-type01{width:100%;margin:15px 0;border-collapse:collapse;font-size:14px;line-height:1.4;}
.content .tbl-type01 th{padding:10px;background-color:#eee;border:1px solid #b9b9b9;font-weight:normal;text-align:left;}
.content .tbl-type01 td{padding:10px;border:1px solid #b9b9b9;background-color:#fff;}

/* カラム */
.col-wrap{position:relative;}
.col-type01{position:relative;top:0;left:0;z-index:1;width:auto;min-height:220px;margin:0;padding:0 330px 0 0;}
.col-type02{max-width:470px;margin:0;padding:0;}
.col-border-type01{height:300px;margin:0;padding:10px;border:1px solid #ddd;overflow:auto;}
.col-left{float:left;}
.col-right{float:right;}

/* フォント */
.font-size-l{font-size:20px;color:#f00;}
.font-size-s{font-size:12px;color:#f00;}
.font-color-red{color:#f00;}
.contact-table .font-color-gray a,
.font-color-gray{font-size:12px;color:#888;}

/* 送信ボタン */
.entry input[type="submit"],
input#submit{background:#ffaf51 !important;}

/* 画像 */
.entry .img-type01{position:absolute;top:0;right:0;z-index:2;float:right;width:300px;margin:0 auto 30px;padding:1px;border:1px solid #ddd;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.entry .img-type02{float:right;width:300px;margin:0 0 15px;padding:0;}

/* 商品一覧 */
.hentry.loop-article footer{display:none;}

/* ----------------------
* 投稿・個別テンプレート
---------------------- */
#headline-sec{background-color:#373c38;}

/* ヘッダー */
.single-article header{margin:0;padding:0;font-size:18px;text-align:left;border:none;}
.single-article header .single-title{margin:0;padding:10px;text-align:left;}
.type-page header{background:#71cfb8;color:#fff;}
.type-page header .single-title{background:#7B9C41;color:#fff;font-size:18px;}

/* コンテンツナビゲーション */
.single .container .navigation{display:none;}

/* リンク */
.entry a{text-decoration:underline;}
.entry a:hover{text-decoration:none;}

/* ----------------------
* 投稿（商品）テンプレート
---------------------- */

.type-post header .single-title{border-bottom:3px solid #eee;}

.product{padding:0 0 30px;border-top:3px solid #eee;}
.product-header .clearfix{margin:0 0 30px;padding:20px 20px 10px;background:#f5f5f5;}
.entry h1.product-ttl{border-color:#202020;}
.entry h2.product-subttl{float:left;width:48%;min-width:250px;margin:0 10px 0 0;padding:0 0 10px;border:none;}
.product-subttl-feature{display:block;font-size:14px;}

.content .product dl,
.content .product dt,
.content .product dd{border:none;}
.content .product dt{background-color:transparent;}

.product-table{width:100%;}
.product-table caption{margin:0 0 10px;padding:0 0 0 8px;border-left:2px solid #202020;}
.product-table th{width:130px;}
.content .product-table dl{margin:0;padding:0;}
.content .product-table dt{float:left;min-width:200px;margin:0 10px 0 0;color:#876633;font-weight:normal;}

.content table.product-innertable,
.content table.product-innertable th,
.content table.product-innertable td{border:none;}
.content table.product-innertable tr:first-child th,
.content table.product-innertable tr:first-child td{border-top:none;}
.content table.product-innertable{margin:0;}
.content table.product-innertable,
.content table.product-innertable td{padding:0;}
.content table.product-innertable th{width:auto;padding:0 10px 0 0;background-color:transparent;vertical-align:top;text-align:right;white-space:nowrap;}

.product-price{color:#f00;}
em.product-price{font-size:20px;}

/* ----------------------
* 個別テンプレート
---------------------- */

/* コンセプト */
.contact-banner{max-width:640px;margin:30px auto 0;}
.concept-ex{padding:0 0 30px;}
.concept-ex-inner{padding:10px;background:#f6f7ee;}

/* 会社案内 */
.company-table-contact a{color:#202020;text-decoration:none;}
.sec-accessmap .col-type02{width:100%;max-width:470px;}
.sec-accessmap .col-type02:first-child{margin:0 20px 0 0;}
.accessmap-gaikan{padding:1px;border:1px solid #ddd;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.privacy-frame{padding:10px;border:1px solid #ddd;font-size:12px;}

/* お問い合わせ */
.maril-form-flow{margin:0 0 20px;background:url(/wp-content/themes/dp-graphie/img/form_flow_bg.png) right top no-repeat;}

.howto-contact{padding:10px 0 30px;}
.howto-contact-tel,
.howto-contact-fax{margin:0 0 10px;}
.howto-contact-tel,
.howto-contact-fax,
.howto-contact-mail{background-position:left center;background-repeat:no-repeat;background-size:40px 40px;line-height:1.2;}
.howto-contact-tel{background-image:url(/wp-content/themes/dp-graphie/img/icon_tel.gif);}
.howto-contact-fax{background-image:url(/wp-content/themes/dp-graphie/img/icon_fax.gif);}
.howto-contact-mail{background-image:url(/wp-content/themes/dp-graphie/img/icon_mail.gif);}

.howto-contact-inner{display:table-cell;height:50px;vertical-align: middle;padding:0 0 0 45px;}
.howto-contact h1{margin:0;padding:0;border-left:0;font-size:22px;}
.howto-contact h1 span{margin:0 5px 0 0;font-size:16px;font-weight:normal;}
.howto-contact p{padding:0;padding-bottom:0 !important;}
.howto-contact-tel a,
.howto-contact-fax a{text-decoration:none;}
.howto-contact-fax a{color:#202020;}

.contact-table .font-color-gray a{text-decoration:none;}
.entry p.contact-submit{width:150px;margin-left:auto;margin-right:auto;padding:10px 0 30px;}

/* ----------------------
* トップテンプレート
---------------------- */
.home #headline-sec{display:none;}
.home .header-banner-ttl{font-size:28px;font-weight:bold;text-shadow:2px 2px 3px #000;}
.home #container{padding:20px 20px 30px;}

/* メインナビカラム（トップ） */
.col3-wrap{padding:0 0 20px;}
.col3-wrap section{float:left;width:33%;margin:0;padding:20px 0 0;}
.col3-wrap .sec-inner{position:relative;padding:0 10px 0 54px;}
.col3-wrap h1{margin:0 0 5px;padding:0;font-size:18px;font-weight:bold;}
.col3-wrap p{font-size:14px;color:#69b632;line-height:1.4;text-decoration:underline;}
.col3-wrap section a:hover,
.col3-wrap section a:hover p{color:#546d1d;text-decoration:none;}
.col3-wrap section a:hover figure{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;text-decoration:none;}
.col3-wrap figure{position:absolute;left:0;top:0;}

.col2-wrap{padding:0 0 10px;background:#f6f7ee;text-align:left;}
.col2-wrap section{position:relative;top:0;left:0;z-index:1;float:left;width:50%;padding:10px 0 0;}
.col2-conts{position:relative;top:0;left:0;z-index:1;}
.col2-wrap h1{margin:0 0 5px;padding:0;font-size:16px;font-weight:bold;}
.col2-wrap p{font-size:14px;line-height:1.4;}
.col2-wrap .sec-inner{margin:0;padding:10px;}
.col2-wrap figure{position:absolute;top:10px;left:10px;z-index:2;margin:0 0 5px;padding:0;text-align:center;}
.col2-wrap figure img{max-height:60px;}

.col2-wrap .sec-smile20 .figure{width:58px;}
.col2-wrap .sec-cleanup .figure{width:153px;}
.col2-wrap .sec-smile20 .col2-conts{padding:0 10px 0 78px;}
.col2-wrap .sec-cleanup .col2-conts{padding:0 10px 0 173px;}

/* ----------------------
* レイアウト調整
---------------------- */
#container{padding:50px 20px 30px;}
.entry{margin:0;padding:0 0 30px;}
.entry img{margin:0;padding:0;}
.entry .rcm-list01{margin:0 0 10px 20px;padding:0;}
.single_post_meta,
.comment-respond,
.trackback_url_area{display:none;}
#loop-section.magazine
.loop-article,
.single-article,
.dp_related_posts,
.content
.trackback_url_area,
#comment_section,
#respond,
#commentform,
.fb-like-box,
.widget-box,
.ft-widget-box,
#searchform{margin:0;border:none;}
nav.navigation{margin:0 auto;}
.wpcf7-form textarea{width:70%;}

/* 商品リスト吹き出し */
.meta-div.app-image{visibility:hidden;}
.meta-div div.meta-com-views-author{display:none;}
.loop-share-num.in-blk{display:none;}

/* テキスト画像（コンセプト、会社概要） */
.entry .clearfix{position:relative;top:0;left:0;z-index:1;}

/* ----------------------
* モバイル
---------------------- */

/* トップ */
.home.mb-theme #headline-sec{display:none;}
#headline-sec{display:none;}

/* コンテンツ */
.mb-theme #container{padding:20px;}
.mb-theme .wpcf7-form textarea{width:100%;}

/* フッタートピックパス */
.mb-theme #dp_breadcrumb_div{padding:20px 0 0;}


@media screen and (max-width: 800px) {

  /* メインナビカラム（トップ） */
  .col2-wrap section{width:100%;}

  /* トップ */
  .home .header-banner-ttl{font-size:24px;}
}

@media screen and (max-width: 640px) {

  /* メインナビカラム（トップ） */
  .col3-wrap section{width:100%;}
  .col2-wrap figure{width:77px;}
  .col2-wrap .sec-smile20 .col2-conts,
  .col2-wrap .sec-cleanup .col2-conts{padding:0 10px 0 97px;}

  /* トップ */
  .home .header-banner-ttl{font-size:20px;}

  /* トップ以外 */
  #container{padding:20px 20px 30px;}

  /* カラム・画像 */
  .col-type01{padding:0;}
  .entry .img-type01{position:relative;float:none;}

  /* お問い合わせ */
  .maril-form-flow{background:none;}

  /* 商品 */
  .product-header .clearfix{padding:10px 10px 0;}

  .content table.product-table th{width:80px;}
  .content table.product-innertable,
  .content table.product-innertable tbody,
  .content table.product-innertable th,
  .content table.product-innertable td{display:block;width:100%;text-align:left;white-space:inherit;}
}

@media screen and (max-width: 400px) {

  /* フッター */
  #footer{padding:20px 0 0;}

  /* トップ */
  .home .header-banner-ttl{font-size:14px;text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);}
}

@media screen and (max-width: 340px) {

  /* 画像 */
  .entry .img-type01{width:100%;}
}

