@charset "utf-8";

/* ---------------------------------------
 reset
--------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
fieldset, img{border:0;}
img{vertical-align:top;}
address, caption, code, em, th, cite{font-style:normal;font-weight:normal;}
table{border-spacing:0;}
ol, ul{list-style:none;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
caption, th {text-align:center;}
hr{display:none;}
header, footer, article, aside, nav, section{display:block;}
time{display:inline;}

/* ---------------------------------------
 font/link
--------------------------------------- */
body,form,select{font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;font-size:10px;color:#222;}
a{color:#2f2922;text-decoration:underline;outline:none;}
a:hover{color:#9B1313;text-decoration:none;outline:none;}

/* ---------------------------------------
 body/wrapper
--------------------------------------- */
html, body {background:#fcfaed;width:100%;height:100%;}
.wrapper{width:960px;margin:60px auto 0;}
.container{position:relative;height:600px;}

/* ---------------------------------------
 header
--------------------------------------- */
.header{margin-bottom:15px;}
.header .headerLogo a{background:url(../img/header-logo.png) no-repeat left top;display:block;width:237px;height:36px;}
.header .headerLogo span{visibility:hidden;}

/* ---------------------------------------
 gNav
--------------------------------------- */
.gNav{position:absolute;left:0;bottom:50px;width:100%;padding:8px 0;zoom:1;background-color:rgba(255, 255, 255, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff,endcolorstr=#7fffffff,gradienttype=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";}

.gNav ul{margin-left:245px;}
.gNav li{float:left;margin-right:25px;}
.gNav li a{display:block;height:10px;background:url(../img/nav-sprite.png) no-repeat left top;text-indent:-99999px;}
.gNav li.nav-01 a{width:24px;background-position:0 0;}
.gNav li.nav-02 a{width:80px;background-position:-27px 0;}
.gNav li.nav-03 a{width:59px;background-position:-109px 0;}
.gNav li.nav-04 a{width:58px;background-position:-170px 0;}
.gNav li.nav-05 a{width:67px;background-position:-232px 0;}
.gNav li.nav-06 a{width:58px;background-position:-303px 0;}

 .gNav li.nav-01 a:hover,
.gNav li.nav-01 a.stay{background-position:0 -10px;}
.gNav li.nav-02 a:hover,
.gNav li.nav-02 a.stay{background-position:-27px -10px;}
.gNav li.nav-03 a:hover,
.gNav li.nav-03 a.stay{background-position:-109px -10px;}
.gNav li.nav-04 a:hover,
.gNav li.nav-04 a.stay{background-position:-170px -10px;}
.gNav li.nav-05 a:hover,
.gNav li.nav-05 a.stay{background-position:-232px -10px;}
.gNav li.nav-06 a:hover,
.gNav li.nav-06 a.stay{background-position:-303px -10px;}

/* ---------------------------------------
footer
--------------------------------------- */
.footer{text-align:right;padding:0 0 15px;}
.footer p{margin:0 2px 0 0;background:url(../img/copylight.gif) no-repeat right 8px;height:17px;}
.footer p span{visibility:hidden;}

/* ---------------------------------------
link
--------------------------------------- */
.link-list-01{position:absolute;left:370px;bottom:20px;width:150px;}
.link-prev{float:left;}
.link-next{float:right;}
.link-prev,
.link-prev a{display:block;width:50px;height:13px;background:url(../img/link-prev.png) no-repeat left top;}
.link-next,
.link-next a{display:block;width:50px;height:13px;background:url(../img/link-next.png) no-repeat left top;}
.link-prev a:hover,
.link-next a:hover{background-position:0 -13px;}
.link-prev span,
.link-next span{visibility:hidden;}
.link-prev a,
.link-next a{opacity:1;filter: alpha(opacity=100);}
.link-none{opacity:0.5;filter: alpha(opacity=50);}

/* ---------------------------------------
other
--------------------------------------- */
noscript{color:#DF0101;font-weight:bold;display:block;margin-top:10px;text-align:center;}
.clear{clear:both;}

/* ---------------------------------------
 clearfix
--------------------------------------- */
.gNav ul:after,
.lyt-column-02:after,
.link-list-01:after,
.gallery-list:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}

.gNav ul,
.lyt-column-02,
.link-list-01,
.gallery-list{display:block;min-height:1%;}

*:first-child+html .gNav ul,
*:first-child+html .lyt-column-02,
*:first-child+html .link-list-01,
*:first-child+html .gallery-list{display:inline-table;zoom:1;}

* html .gNav ul,
* html .lyt-column-02,
* html .link-list-01,
* html .gallery-list{zoom:1;}

/* ---------------------------------------
 margin/padding/align/float
--------------------------------------- */
.mt05{margin-top:5px !important;}
.mb00{margin-bottom:0 !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.pb00{padding-bottom:0 !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.align-r{text-align:right !important;}
.align-l{text-align:left !important;}
.align-c{text-align:center !important;}
.fl_l{float:left;}
.fl_r{float:right;}

/* Phone Landscape (480px) */
@media only screen and (min-width:321px) and (max-width:480px) and (orientation:landscape){
.header{width:100%;}
.wrapper{width:480px;}
.footer{width:100%;}
}

/* Phone Portrait (320px) */
@media only screen and (max-width:320px) {
.header{width:100%;}
.wrapper{width:480px;margin:auto auto;}
.footer{width:100%;}
}
